<%- include("partials/header.ejs") %>
<!-- edit form -->
<header>
  <h1>Edit Post</h1>
</header>
<section>
  <form action="/edit-post/<%= post.id %>" method="POST">
    <div class="form-group">
      <label for="title">Post Title</label>
      <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
    </div>
    <div class="form-group">
      <label for="content">Post Content</label>
      <textarea class="form-control" id="content" name="content" rows="5" required><%= post.content %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update Post</button>
  </form>
</section>

<%- include("partials/footer.ejs") %>
